<%- include('beforepart.ejs') %>
  <h3 class='text-center'><< เบื้องหลังโปรเจ็ค Alphamath.xyz >></h3>
<a class="btn btn-success text-white" href="/">Back</a>
<br /><br />
<h4 class=""><< ข้อมูลผู้พัฒนา >></h4>
<p>
  ชื่อ-สกุล: นายวิทยา เสนาเสถียร<br />
  ตำแหน่ง:ครู วิทยฐานะ ครูชำนาญการพิเศษ โรงเรียนอุดรพิชัยรักษ์พิทยา จังหวัดอุดรธานี<br />
  โทรศัพท์: 0821127237&nbsp;&nbsp;&nbsp;E-mail: wittaya_seiya@hotmail.com<br />
  <b><u>ประวัติการศึกษา</u></b><br />
  2550 ปริญญาตรี วท.บ. (คณิตศาสตร์) เกียรตินิยมอันดับ 1 มหาวิทยาลัยขอนแก่น<br />
  2551 ประกาศนียบัตรบัณฑิต (วิชาชีพครู) มหาวิทยาลัยขอนแก่น<br />
  2562 ปริญญาโท ค.ม. (การสอนคณิตศาสตร์) มหาวิทยาลัยราชภัฏอุดรธานี<br />
  การศึกษาทั้ง 3 ระดับ ได้รับทุนจากโครงการส่งเสริมการผลิต​ครูที่มีความสามารถพิเศษทางวิทยาศาสตร์และคณิตศาสตร์ (สควค. รุ่นที่ 11)<br />
  ซึ่งหน่วยงานที่ให้ทุน คือ สถาบันส่งเสริมการสอนวิทยาศาสตร์และเทคโนโลยี (สสวท.)
  </p>

  <h4><< แรงบันดาลใจในการพัฒนาโปรเจ็ค >></h4>
  <p>เนื่องจากผู้พัฒนาเคยได้รับทุนการศึกษาจากรัฐบาล ทำให้คิดอยู่เสมอว่า เราควรสร้างผลงานเพื่อตอบแทนคุณแผ่นดิน
  จึงมั่นฝึกฝน พัฒนาทักษะของตนเองอยู่เสมอ ไม่ว่าจะเป็นทักษะด้านการจัดการเรียนการสอนคณิตศาสตร์ ทักษะด้านภาษาต่างประเทศ
  และทักษะด้านการเขียนโปรแกรม ซึ่งผู้พัฒนามีความชื่นชอบเป็นพิเศษ มาตั้งแต่วัยเด็ก ทำให้เกิดแนวคิดที่จะสร้างแพลตฟอร์ม
  เพื่อช่วยส่งเสริมการจัดการเรียนการสอนคณิตศาสตร์ ในชื่อโปรเจ็ค "Alphamath.xyz"
  </p>

  <h4><< คติเตือนใจ >></h4>
ไม่ต้องไปแข่งว่าใครเก่งกว่าใคร มาใช้ความรู้ที่ตัวเองมี ช่วยกันพัฒนาสังคมดีกว่า
<br /><br />
  <h5>ท่านใดอยากจะสนับสนุน หรือช่วยพัฒนาโปรเจ็คนี้ สามารถติดต่อมาได้ที่ข้อมูลการติดต่อข้างต้น</h5>

<%- include('afterpart.ejs') %>
