<%- include('beforepart.ejs') %>
<a class="btn btn-primary text-white" href="/">Back</a><br />
<h1>::This is PostForm Page::</h1>
<h1><%= firstname +" "+ lastname %></h1>

<%- include('afterpart.ejs') %>
